body {
    font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
}

h1 {
    margin-bottom:40px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

p, label, input, button, select, textarea, select, input[type="text"], .btn {
    font-size: 18px;
    line-height: 22px;
}

#results {
    padding-top: 20px;
}